* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }


.but {
    padding-top: 7rem;
}

/* home div */

.home-div {
    background-image: url(Images/shoes-bg.jpg);
    height: 50rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    background-color: #39393A;
}


.logo {
    margin: 0;
    font-family: Archivo black;
}

.navbar,links {
    font-family: sans-serif;
}

.button {
    border-radius: 30px !important;
    color: rgb(255, 255, 255) !important;
    background-color: #B7BDC9;
    font-size: 15px !important;
}

.h1 {
    font-family: Archivo black;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-size: 5em;
}

.h1-collect {
    font-size: 3em;
}

.h3 {
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.h3-style {
    font-family: Archivo black;
    margin: 0;
    font-size: 2.8em;
    padding-top: 5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* home div */

/* home div media */
@media only screen and (min-width: 768px) {

    .h1 {
    font-size: 7em;
    text-align: center;
}

.h1-collect {
    font-size: 5em;
}

.h3 {
    font-family: sans-serif;
    text-align: center;
}

.but {
    padding-top: 7rem;
    display: grid;
    place-items: center;
}

.h3-style {
    font-size: 5vw;
    padding-top: 8rem;
}
}

@media only screen and (min-width: 1000px) {

    .h1 {
        letter-spacing: 10px;
        font-size: 8em;
        margin: 0;
    }
    
    .h3 {
        font-family: sans-serif;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .but {
        padding-top: 15rem;
        display: grid;
        place-items: center;
    }

    

    .h3-style {
        font-size: 5em;
        padding-top: 5rem;
    }
}
/* home div media */


/* product div */



.para {
    background-image: url(Images/shoes-bg.jpg);
    height: 20rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content {
    padding: 0 10px;
}
.div-product {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.h1-div {
    font-family: Archivo black;
    margin: 0;
    padding-top: 3rem;
    
}
.div-content {
    background-color: #39393A;
}

.h4-s {
    font-family: Archivo black;


}


.p-product {
    color: rgb(88, 87, 87);
    margin: 0;
    padding-top: 3rem;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.shoes-name {
    color: #ffffff;
    font-family: Archivo black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.shoe-description {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}


.image-div {
    height: auto;
    background-image: url(Images/shoes-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.h1-image {
    margin: 0;
    padding-top: 7rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    font-family: Archivo black;
    font-size: 8vw;
}

.product-div {
    padding-bottom: 5rem;
}

/* customer div */

.customer-div {
    background-image: url(Images/shoes-bg.jpg);
    height: 20rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.customer-row{
    padding-top: 10rem;
}

.image-grid {
    height: 5rem;
}

.grid-container {
    display: grid;
    grid-gap: 10px; 
  }
  
  .grid-item {
    background-color: #ffffff; 
    padding: 10px;
    text-align: center;
  }


  @media screen and (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1000px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }


  .h1-customer {
    padding-top: 3rem;
    margin: 0;
    font-size: 2em;
    color: white;
    font-family: Archivo black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

  .h1-style {
    font-family: Archivo black;
    font-size: 3em;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  @media screen and (min-width: 768px) {
    .h1-customer {
        padding-top: 2rem;
        margin: 0;
        font-size: 3.8em;
        color: white;
        font-family: Archivo black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
      }

      .second {
        padding-top: 0;
      }

      .h1-style {
        font-size: 3em;
        text-align: center;
      }
  }

  @media screen and (min-width: 1000px) {
    .h1-customer {
        padding-top: 5rem;
        margin: 0;
        font-size: 4vw;
      }

      .second {
        padding-top: 0;
      }

      .h1-style {
        font-size: 3em;
        text-align: center;
      }
  }


  .element {
    transition: transform 0.4s ease !important;
    cursor: pointer;
  }
  
  .element:hover {
    transform: scale(1.1);
  }

#trends {
    padding-top: 5rem;
}
 
  .final-div {
    padding-bottom: 3rem;
    margin-top: 8rem;
    height: auto;
    background-color: #39393A;
  }
 
.h5-final {
    padding-top: 3rem;
    font-family: Archivo black;
    color: white;
    font-size: 1.2rem;
}

.icon {
    color: white;
}